{% extends 'course/layout.html' %}

{% block body %}
<div class="flex">
    <img class="hidden lg:block w-2/3" src="https://cdn.toprankers.net.in/svg/Group.svg" alt="image">

    <div id="sign-in-div" class="w-full mx-0 md:mx-24">
        <form class="flex justify-center items-start min-h-[10vh] flex-col gap-6 px-5 py-10 w-full" method="post">
            {% csrf_token %}
            <div class="w-full max-w-md mx-auto">
                <div class="relative mb-6">
                    <label class="text-lg text-[#454545]" for="new-password">New Password</label>
                    <input
                        class="mt-2 w-full p-2 text-base border-2 border-[#707070] rounded-sm outline-none focus:border-black font-[Poppins] font-semibold tracking-wider"
                        type="password" name="new_password" id="new-password" required>
                </div>
                <div class="relative mb-6">
                    <label class="text-lg text-[#454545]" for="confirm-password">Confirm Password</label>
                    <input
                        class="mt-2 w-full p-2 text-base border-2 border-[#707070] rounded-sm outline-none focus:border-black font-[Poppins] font-semibold tracking-wider"
                        type="password" name="confirm_password" id="confirm-password" required>
                </div>

                <input type="hidden" name="user_id" value="{{ user_id }}">
                <p class="text-sm text-red-700 mt-4" id="message-box"></p>

                <div class="flex justify-center">
                    <button
                        class="cursor-pointer bg-red-700 text-white font-semibold px-4 py-2 md:px-6 md:py-3 hover:bg-red-800"
                        type="submit">Change Password</button>
                </div>
            </div>
        </form>
    </div>

</div>

<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', (event) => {
        event.preventDefault();

        const formData = new FormData(form);

        fetch(`/change-password/{{token}}`, {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                if (data.status == 'success') {
                    alert("Password Changed Successfully!")
                    window.location.href = '/login';
                } else {
                    document.querySelector('#message-box').textContent = "Passwords must match";
                }
            })
            .catch(error => {
                console.log(error)
            });
    });
</script>

{% endblock %}