{% extends 'swiftlearn/layout.html' %}

{% block body %}

<hr>
<div class="bg-[#293352] font-[Merriweather] px-4">
    <div class="hidden lg:block float-right my-10 ml-5 rounded-sm shadow-lg bg-white">
        <img src="{{ course.image_url }}" alt="">
        <div class="flex items-center justify-between mx-4 py-4 text-sm" style="border-bottom: 1px solid #d8d8d8;">
            <p class="font-semibold">DURATION</p>
            <p>{{ course.duration }}</p>
        </div>
        <div class="flex items-center justify-between mx-4 py-4 text-sm" style="border-bottom: 1px solid #d8d8d8;">
            <p class="font-semibold">SUBJECT</p>
            <p>{{ course.category }}</p>
        </div>
        <div class="flex items-center justify-between mx-4 py-4 text-sm" style="border-bottom: 1px solid #d8d8d8;">
            <p class="font-semibold">COURSE LANGUAGE</p>
            <p>{{ course.course_language }}</p>
        </div>
        <div class="flex items-center justify-between mx-4 py-4 text-sm">
            <p class="font-semibold">DIFFICULTY</p>
            <p>{{ course.difficulty_level.capitalize }}</p>
        </div>
    </div>
    <h1 class="text-2xl md:text-3xl lg:text-4xl py-6 text-white lg:thin">{{ course.title }}</h1>
    <p class="text-md font-medium pb-4 text-white tracking-wider" style="font-family: 'Merriweather Sans';">
        {{ course.description }}</p>
</div>

<div class="font-[Merriweather] px-4 flex flex-wrap items-center justify-evenly mt-4">
    <div class="flex space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="width: 25px; height: 25px;">
            <path
                d="M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zm64 80v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm128 0v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H208c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V272c0-8.8-7.2-16-16-16H336zM64 400v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H80c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H208zm112 16v32c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16V400c0-8.8-7.2-16-16-16H336c-8.8 0-16 7.2-16 16z" />
        </svg>
        {% if course.status == 'available' %}
        <p class="md:text-lg">{{ course.start_date|date:"F j, Y" }} - {{ course.end_date|date:"F j, Y" }}</p>
        {% else %}
        <p class="md:text-lg">Register by: {{ course.date|date:"F j, Y" }}</p>
        {% endif %}

    </div>
    {% if course.is_free %}
    <p class="md:text-lg">FREE*</p>
    {% else %}
    <p class="md:text-lg">${{course.get_display_price}}</p>
    {% endif %}
    <p class="md:text-lg">ONLINE</p>
</div>

<div class="lg:hidden my-10 mx-4 md:mx-32 rounded-sm shadow-lg bg-white font-[Merriweather]">
    <img class="w-[100%]" src="{{ course.image_url }}" alt="">
    <div class="flex items-center justify-between mx-4 py-4 text-sm" style="border-bottom: 1px solid #d8d8d8;">
        <p class="font-semibold">DURATION</p>
        <p>{{ course.duration }}</p>
    </div>
    <div class="flex items-center justify-between mx-4 py-4 text-sm" style="border-bottom: 1px solid #d8d8d8;">
        <p class="font-semibold">SUBJECT</p>
        <p>{{ course.category }}</p>
    </div>
    <div class="flex items-center justify-between mx-4 py-4 text-sm" style="border-bottom: 1px solid #d8d8d8;">
        <p class="font-semibold">COURSE LANGUAGE</p>
        <p>{{ course.course_language }}</p>
    </div>
    <div class="flex items-center justify-between mx-4 py-4 text-sm">
        <p class="font-semibold">DIFFICULTY</p>
        <p>{{ course.difficulty_level.capitalize }}</p>
    </div>
</div>

<h1 class="text-2xl px-5 mt-6 mb-3 font-[Merriweather]">What you'll learn?</h1>
<ul class="font-[Merriweather Sans] text-xl list-disc" style="padding: 0 50px;">
    {% for pointer in pointers %}
    <li class="">{{ pointer }}</li>
    {% endfor %}
</ul>

{% if request.user.is_authenticated %}

{% if not enroll %}
{% if course.is_free %}
<form action="{% url 'enroll' course.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Enroll Now" class="bg-red-700 hover:bg-red-800 font-[Merriweather Sans] px-6 py-4 m-7 font-semibold rounded-sm text-white text-xl">
</form>
{% else %}
<!-- show payment button if course is paid -->
<script src="https://js.stripe.com/v3/"></script>
<div>
    <button type="button" id="checkout-button"
        class="bg-red-700 hover:bg-red-800 font-[Merriweather Sans] px-6 py-4 m-7 font-semibold rounded-sm text-white text-xl">
        Purchase Now</button>
    {% csrf_token %}
</div>

<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}")
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
        fetch("{% url 'create-checkout-session' course.id %}", {
            method: "POST",
            headers: {
                'X-CSRFTOken': csrftoken,
            }
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
                //
            })
    })
</script>
{% endif %}

{% else %}
<div class="m-7">
    <a href="/course/{{ course.id }}" class="bg-[#00262b] hover:bg-[#00262bdf] font-[Merriweather Sans] px-6 py-4 font-semibold rounded-sm text-white text-xl">View Course</a>
</div>
{% endif %}

{% else %}

<div class="m-7">
    <a href="{% url 'login' %}" class="bg-red-700 hover:bg-red-800 font-[Merriweather Sans] px-6 py-4 m-7 font-semibold rounded-sm text-white text-xl">Sign in to Enroll</a>
</div>
{% endif %}


<div class="bg-slate-100 mb-0 pt-2">
    <h1 class="text-2xl font-[Merriweather] text-center my-10">Instructors</h1>
    <div class="flex flex-col md:flex-row flex-wrap justify-around items-center">
        {% for instructor in instructors %}
        <div class="text-center mb-7">
            <img src="{{ instructor.image_url }}" alt="image" style="border-radius: 50%; margin: 0 auto;">
            <a href="{% url 'instructor' instructor.id %}" class="text-xl font-[Merriweather] text-red-700 hover:underline">
                {{ instructor.name }}</a>
            <p class="card-text font-[Merriweather Sans] text-lg font-light mt-2">
                {% if instructor.title|length > 60 %}
            <p class="card-description">{{ instructor.title|slice:60 }}...</p>
            {% else %}
            <p class="card-description">{{ instructor.title }}</p>
            {% endif %}</p>
        </div>
        {% endfor %}
    </div>
</div>


<div class="bg-[#e1dddbb0] mb-0 pt-4 pb-12 flex flex-col justify-between items-center">
    <h1 class="font-[Merriweather Sans] font-semibold text-center py-7 text-3xl">Share this course</h1>
    <div class="space-x-8">
        <i class="fa-brands fa-facebook fa-2xl cursor-pointer"></i>
        <i class="fa-brands fa-twitter fa-2xl cursor-pointer"></i>
        <i class="fa-brands fa-linkedin fa-2xl cursor-pointer"></i>
        <i class="fa-solid fa-envelope fa-2xl cursor-pointer"></i>
    </div>
</div>

{% endblock %}