<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} SwiftLearn {% endblock %}</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Jost&family=Merriweather+Sans:wght@300&family=Merriweather:wght@300;400&family=Nunito+Sans:wght@300&family=Poppins:wght@200&family=Roboto+Mono:wght@300&family=Ubuntu:wght@300&family=Yeon+Sung&display=swap"
        rel="stylesheet">
    {% block style %}{% endblock %}
    <script src="https://kit.fontawesome.com/626308e1b4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <script src="{% static 'swiftlearn/script.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {

            // 
            let cardNo = document.querySelector("#card-no");
            let expDate = document.querySelector("#exp");
            let cvc = document.querySelector("#cvc");
            let currentDate = new Date();

            cardNo.addEventListener('input', function() {
                let cardNoValue = cardNo.value.replace(/\s+/g, ''); // Remove any existing spaces
                let formattedCardNo = '';
                for (let i = 0; i < cardNoValue.length; i++) {
                    if (!/\d/.test(cardNoValue[i])) {
                        continue; // Skip non-numeric characters
                    }
                    if (i > 0 && i % 4 === 0) {
                        formattedCardNo += ' '; // Add a space after every 4 digits
                    }
                    formattedCardNo += cardNoValue[i];
                }
                cardNo.value = formattedCardNo;

                // Limit the input to 16 digits
                if (cardNo.value.length > 19) {
                    cardNo.value = cardNo.value.slice(0, 19);
                }
            });

            expDate.addEventListener('input', function() {
                let expDateValue = expDate.value.replace(/\s+/g, ''); // Remove any existing spaces and slashes
                let formattedExpDate = '';
                let currentSegment = 'month';
                for (let i = 0; i < expDateValue.length; i++) {
                    let char = expDateValue[i];
                    if (/[0-9]/.test(char) && formattedExpDate.length < 7) {
                        if (currentSegment === 'month') {
                            if (formattedExpDate.length === 2) {
                                formattedExpDate += ' / '; // Add a slash after the second digit of the month
                                currentSegment = 'year';
                            }
                        }
                        formattedExpDate += char;
                    }
                }
                expDate.value = formattedExpDate;

                // Validate the expiration date
                if (expDate.value.length === 7) {
                    let expMonth = expDate.value.slice(0, 2);
                    let expYear = expDate.value.slice(5, 7);
                    let expDateObj = new Date('20' + expYear, expMonth - 1, 1);
                    if (document.querySelector('.error')) { document.querySelector('.error').remove() }
                    if (expDateObj < currentDate) {
                        div = document.createElement('div')
                        div.className = 'error text-sm text-red-700 font-semibold self-end'
                        div.innerHTML =  'Expiration date cannot be in the past'
                        document.querySelector('input[type="submit"]').before(div)
                        expDate.value = '';
                    } else if (expMonth < 1 || expMonth > 12) {
                        div = document.createElement('div')
                        div.className = 'error text-sm text-red-700 font-semibold self-end'
                        div.innerHTML =  'Invalid expiration month'
                        document.querySelector('input[type="submit"]').before(div)
                        expDate.value = '';
                    } else {
                        document.querySelector('.error').remove()
                    }
                }
            })

            cvc.addEventListener('input', function() {
                let cvcValue = cvc.value.replace(/\D/g, ''); // Remove any non-digit characters
                cvc.value = cvcValue;

                // Limit the input to 3 digits
                if (cvc.value.length > 3) {
                    cvc.value = cvc.value.slice(0, 3);
                }
            });


            // Discount Coupon Logic 
            let coupon = document.querySelector('#coupon')
            let applyCoupon = document.querySelector('#apply-coupon')
            let removeCoupon = document.querySelector('#remove-coupon')
            let couponBox = document.querySelector("#coupon-box");
            let couponMessage = document.querySelector('#coupon-message');
            let coursePrice = document.querySelector('#course-price').getAttribute('data-course-price');
            let totalPrice = document.querySelector("#total-price");

            coupon.addEventListener('input', function() {
                let couponValue = coupon.value
                coupon.value = couponValue.toUpperCase()
            })

            applyCoupon.addEventListener('click', function() {
                couponInput = coupon.value.toUpperCase()
                coupon.value = ''

                // Make a fetch request to validate the coupon code
                fetch('/validate_coupon/?code=' + couponInput)
                .then(response => response.json())
                .then(response => {
                    if (document.querySelector('#error-message')) { document.querySelector('#error-message').remove() }
                    if (response['valid']) {
                        // Coupon code is valid, apply discount logic here
                        let discountPercent = response['discount_percent'];
                        let totalAmount = coursePrice - (coursePrice * discountPercent / 100);
                        // display the discounted amount to the user
                        totalPrice.textContent = `$${totalAmount}`;
                        couponBox.style.display = 'none';
                        couponMessage.style.display = 'flex';
                        couponMessage.firstElementChild.innerHTML = `Coupon ${couponInput} applied for ${discountPercent}% off`
                    } else {
                        // Coupon code is not valid, show an error message to the user
                        let errorMessage = response['error_message'];
                        // display the error message to the user
                        div = document.createElement('div')
                        div.className = 'text-sm text-red-700'
                        div.id = 'error-message'
                        div.innerHTML = errorMessage
                        couponBox.after(div)
                    }
                    })
                .catch(error => {
                    console.error('Error:', error);
                });
            })

            removeCoupon.addEventListener('click', function() {
                couponMessage.firstElementChild.innerHTML = ''
                couponMessage.style.display = 'none';
                couponBox.style.display = 'flex';
                totalPrice.textContent = `$${coursePrice}`;
            })
        });
    </script>
</head>

<body>
    <nav class="bg-[#293352] flex items-center max-lg:justify-between h-[8vh] lg:h-[10vh] z-[1000]">
        <h1 class="text-white text-2xl md:text-3xl font-[Merriweather] tracking-wider px-6">Swift Learn</h1>

        <div class="flex items-center lg:absolute top-2 right-4 cursor-pointer" id="profile-icon"
            data-authenticated="{{ user.is_authenticated }}">
            {% if user.is_authenticated %}
            <div class="flex items-center">
                <p class="text-white hidden md:block">{{ user.first_name }} {{ user.last_name }}</p>
                <img class="m-2 w-[2em] md:w-[2.5em]"
                    src="https://cdn.toprankers.net.in/images/dummy-profile-bg-024a012058da2.png" alt="profile">
            </div>
            {% else %}
            <div class="flex items-center">
                <p class="text-white hidden md:block">Login</p>
                <img class="m-2 cursor-pointer w-[2em] md:w-[2.5em]"
                    src="https://cdn.toprankers.net.in/images/dummy-profile-bg-024a012058da2.png" alt="profile">
            </div>
            <span data-authenticated="false"></span>
            {% endif %}
        </div>
    </nav>

    <div class="flex flex-col lg:flex-row m-8 font-[Merriweather Sans]">

        <div class="left pr-0 lg:pr-8 mx-auto min-w-0 lg:min-w-[30vw]">
            <p class="text-md font-bold">In Your Cart</p>
            <p class="text-lg">Your purchase contains the following:</p>
            <div class="card my-2 md:my-4 items-center flex-col md:flex-row" style="max-width: 540px; display: flex;">
                <div class="card-img md:w-[40%] max-w-[60%]">
                    <img src="{{ course.image_url }}" alt="course-image">
                </div>
                <div class="card-body pl-2 md:pl-4 md:w-[60%]">
                    <h2 class="card-title text-lg font-semibold">{{ course.title }}</h2>
                    <p class="card-text text-green-900 justify-center">This course will also include a verified certificate.</p>
                </div>
            </div>
            <p class="text-md font-bold">Summary</p>
            <div class="card my-2 md:my-4 items-center justify-between font-semibold"
                style="max-width: 450px; display: flex;">
                <h2 id="course-price" data-course-price="{{ course.price }}">Price</h2>
                <h2>${{ course.price }}</h2>
            </div>

            <div class="flex mb-4" id="coupon-box">
                <input class="mt-2 w-full p-2 text-[0.9em] border-[1.5px] border-[#707070] rounded-sm outline-none focus:border-black font-[Poppins] font-semibold tracking-wider" placeholder="Add Coupon Code (optional)" type="text" name="coupon" id="coupon">
                <input type="submit" value="Apply" class="w-1/2 text-lg cursor-pointer bg-white text-[#00262b] rounded-sm font-semibold hover:bg-[#00262b] hover:text-white mx-1 mt-2 border-[1px] border-gray-300" id="apply-coupon">
            </div>
            <div class="hidden mb-4" id="coupon-message">
                <div></div>
                <button class="text-blue-700 underline cursor-pointer" id="remove-coupon"> Remove</button>
            </div>

            <div class="card my-2 md:my-4 items-center justify-between font-bold text-gray-700"
                style="max-width: 450px; display: flex;">
                <h2>TOTAL</h2>
                <h2 id="total-price">${{ course.price }}</h2>
            </div>

            <p class="text-md font-bold">Order Details</p>
            <div class="card my-2 md:my-4 items-center justify-between font-semibold text-gray-600"
                style="max-width: 450px; display: flex;">
                <h2>The above total includes any applicable taxes. After you complete your order you will be
                    automatically enrolled in the verified track of the course.</h2>
            </div>
        </div>

        <div class="right lg:border-l-2 border-gray-300 pl-0 lg:pl-8 w-full">
            <p class="text-md font-bold mb-2">Select Payment Method</p>
            <div class="flex flex-wrap">
                <button type="button"
                    class="w-32 m-2 ml-0 border-[1px] border-[#ccc] border-b-[0.1875rem] p-[0.5rem] border-b-[#00262b] cursor-pointer"><img
                        src="https://payment.edx.org/c01751e9cb2d98119003bf751735deeb.png" alt="Credit Card"></button>
                <button type="button"
                    class="w-32 m-2 ml-0 border-[1px] border-[#ccc] border-b-[0.1875rem] p-[0.5rem] border-b-[#00262b] cursor-pointer"><img
                        src="https://payment.edx.org/4d31d2ccad2b24302503f7342951ce80.png" alt="Credit Card"></button>
            </div>

            <form action="/payment/{{course_id}}" class="flex justify-center items-center flex-col gap-4" method="post">
                {% csrf_token %}
                <p class="text-md font-bold mt-8 self-start">Card Holder Information</p>
                <div class="flex w-full space-y-6 md:space-y-0 md:space-x-4 flex-col md:flex-row">
                    <div class="relative w-full">
                        <label class="text-lg text-[#454545]" for="first_name">First Name (required)</label> <br>
                        <input class="mt-2 w-full p-2 text-[1em] border-2 border-[#707070] rounded-sm outline-none focus:border-black font-[Poppins] font-semibold tracking-wider" type="text" name="first_name" id="first_name" required>
                    </div>
                    <div class="relative w-full">
                        <label class="text-lg text-[#454545]" for="last_name">Last Name (required)</label> <br>
                        <input class="mt-2 w-full p-2 text-[1em] border-2 border-[#707070] rounded-sm outline-none focus:border-black font-[Poppins] font-semibold tracking-wider" type="text" name="last_name" id="last_name" required>
                    </div>
                </div>
                <div class="flex w-full space-y-6 md:space-y-0 md:space-x-4 flex-col md:flex-row">
                    <div class="relative w-full">
                        <label class="text-lg text-[#454545]" for="address">Address (required)</label> <br>
                        <input class="mt-2 w-full p-2 text-[1em] border-2 border-[#707070] rounded-sm outline-none focus:border-black font-[Poppins] font-semibold tracking-wider" type="text" name="address" id="address" required>
                    </div>
                    <div class="relative w-full">
                        <label class="text-lg text-[#454545]" for="ap_no">Suite/Apartment Number</label> <br>
                        <input class="mt-2 w-full p-2 text-[1em] border-2 border-[#707070] rounded-sm outline-none focus:border-black font-[Poppins] font-semibold tracking-wider" type="text" name="ap_no" id="ap_no">
                    </div>
                </div>
                <div class="flex w-full space-y-6 md:space-y-0 md:space-x-4 flex-col md:flex-row">
                    <div class="relative w-full">
                        <label class="text-lg text-[#454545]" for="city">City (required)</label> <br>
                        <input class="mt-2 w-full p-2 text-[1em] border-2 border-[#707070] rounded-sm outline-none focus:border-black font-[Poppins] font-semibold tracking-wider" type="text" name="city" id="city" required>
                    </div>
                    <div class="relative w-full">
                        <label class="text-lg text-[#454545]" for="city">Country (required)</label> <br>
                        <select class="mt-2 w-full p-2 text-[1em] border-2 border-[#707070] rounded-sm outline-none focus:border-black font-[Poppins] font-semibold tracking-wider" id="country" name="country" required>
                            <option value="" selected disabled>Choose Country</option>
                            {% for code, name in COUNTRY_CHOICES %}
                            <option value="{{ code }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="flex w-full space-y-6 md:space-y-0 md:space-x-4 flex-col md:flex-row">
                    <div class="relative w-full">
                        <label class="text-lg text-[#454545]" for="state">State/Province</label> <br>
                        <input class="mt-2 w-full p-2 text-[1em] border-2 border-[#707070] rounded-sm outline-none focus:border-black font-[Poppins] font-semibold tracking-wider" type="text" name="state" id="state">
                    </div>
                    <div class="relative w-full">
                        <label class="text-lg text-[#454545]" for="zip_no">Zip/Postal Code</label> <br>
                        <input class="mt-2 w-full p-2 text-[1em] border-2 border-[#707070] rounded-sm outline-none focus:border-black font-[Poppins] font-semibold tracking-wider" type="text" name="zip_no" id="zip_no">
                    </div>
                </div>

                <p class="text-md font-bold mt-8 self-start">Billing Information (Required)</p>

                <div class="flex w-full space-y-6 md:space-y-0 md:space-x-4 flex-col md:flex-row">
                    <div class="relative w-full">
                        <label class="text-lg text-[#454545]" for="card-no">Card Number</label> <br>
                        <input class="mt-2 w-full p-2 text-[1em] border-2 border-[#707070] rounded-sm outline-none focus:border-black font-[Poppins] font-semibold tracking-wider" placeholder="1234 1234 1234 1234" type="text" name="card-no" id="card-no" required>
                        <img class="absolute w-32 right-2 bottom-[9.5px]" src="https://payment.edx.org/c01751e9cb2d98119003bf751735deeb.png" alt="">
                    </div>
                    <div class="flex w-full space-x-4">
                        <div class="relative w-full">
                            <label class="text-lg text-[#454545]" for="exp">Expiration</label> <br>
                            <input class="mt-2 w-full p-2 text-[1em] border-2 border-[#707070] rounded-sm outline-none focus:border-black font-[Poppins] font-semibold tracking-wider" placeholder="MM / YY" type="text" name="exp" id="exp" required>
                        </div>
                        <div class="relative w-full">
                            <label class="text-lg text-[#454545]" for="cvc">CVC</label> <br>
                            <input class="mt-2 w-full p-2 text-[1em] border-2 border-[#707070] rounded-sm outline-none focus:border-black font-[Poppins] font-semibold tracking-wider" placeholder="CVC" type="text" name="cvc" id="cvc" required>
                        </div>
                    </div>
                </div>

                <input type="submit" value="Place Order" class="text-lg md:self-end px-24 md:px-32 py-1.5 md:py-2 cursor-pointer bg-[#00262b] text-white rounded-sm font-semibold hover:bg-[#00262be4] focus:outline-none">
            </form>

        </div>
    </div>
</body>