{% extends 'swiftlearn/layout.html' %}

{% block style %}
<!-- modal styling -->
<style>
    .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-background {
    margin: 5% auto;
    width: 100%;
    max-width: 500px;
    }

    .modal-container {
    background-color: #fefefe;
    border: 1px solid #6d6b6b;
    border-radius: 5px;
    padding: 20px;
    margin: 0 5%;
    }

    @media (min-width: 768px) {
    .modal-container {
        margin-left: 25%;
        margin-right: 25%;
    }
}

    .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    }

    .modal-title {
    margin: 0;
    font-size: 24px;
    }

    .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    }

    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }

    .modal-body {
    padding: 10px;
    }

    .modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #eee;
    }
</style>
{% endblock %}

{% block body %}

<script>document.addEventListener('DOMContentLoaded', function () { document.querySelector("#country").value = document.querySelector("#country").getAttribute("data-country") })</script>

<!-- modal code starts here -->
<div class="modal" id="profile-modal" tabindex="-1">
    <div class="modal-background"></div>
    <div class="modal-container">
        <div class="modal-header">
            <h5 class="modal-title">Edit Profile</h5>
            <button type="button" class="close" id="profile-modal-close">&times;</button>
        </div>
        <div class="modal-body">
            <form action="{% url 'update_profile' %}" class="flex justify-center items-center flex-col gap-4" method="post">
                {% csrf_token %}
                <div class="flex w-full space-y-6 md:space-y-0 md:space-x-4 flex-col md:flex-row">
                    <div class="relative w-full">
                        <label class="text-lg text-[#454545]" for="address">Username</label> <br>
                        <input class="mt-2 w-full p-2 text-[1em] border-2 border-[#707070] rounded-sm outline-none focus:border-black font-[Poppins] font-semibold tracking-wider" type="text" name="username" id="username" value="{{ user.username }}" disabled>
                    </div>
                </div>
                <div class="flex w-full space-y-6 md:space-y-0 md:space-x-4 flex-col md:flex-row">
                    <div class="relative w-full">
                        <label class="text-lg text-[#454545]" for="first_name">First Name</label> <br>
                        <input class="mt-2 w-full p-2 text-[1em] border-2 border-[#707070] rounded-sm outline-none focus:border-black font-[Poppins] font-semibold tracking-wider" type="text" name="first_name" id="first_name" value="{{user.first_name}}" required>
                    </div>
                    <div class="relative w-full">
                        <label class="text-lg text-[#454545]" for="last_name">Last Name</label> <br>
                        <input class="mt-2 w-full p-2 text-[1em] border-2 border-[#707070] rounded-sm outline-none focus:border-black font-[Poppins] font-semibold tracking-wider" type="text" name="last_name" id="last_name" value="{{user.last_name}}">
                    </div>
                </div>
                <div class="flex w-full space-y-6 md:space-y-0 md:space-x-4 flex-col md:flex-row">
                    <div class="relative w-full">
                        <label class="text-lg text-[#454545]" for="email">Email</label> <br>
                        <input class="mt-2 w-full p-2 text-[1em] border-2 border-[#707070] rounded-sm outline-none focus:border-black font-[Poppins] font-semibold tracking-wider" type="text" name="email" id="email" value="{{user.email}}" required>
                    </div>
                </div>
                <div class="flex w-full space-y-6 md:space-y-0 md:space-x-4 flex-col md:flex-row">
                    <div class="relative w-full">
                        <div class="flex justify-between">
                            {% csrf_token %}
                            <label class="text-lg text-[#454545]" for="password">Password</label>
                            <a class="text-blue-700 cursor-pointer underline" href="#" id="change-password">Change Password</a>
                        </div>
                        <input class="mt-2 w-full p-2 text-[1em] border-2 border-[#707070] rounded-sm outline-none focus:border-black font-[Poppins] font-semibold tracking-wider" type="password" id="password" value="password" disabled>
                    </div>
                </div>
                <div class="flex w-full space-y-6 md:space-y-0 md:space-x-4 flex-col md:flex-row">
                    <div class="relative w-full">
                        <label class="text-lg text-[#454545]" for="city">Country</label> <br>
                        <select class="mt-2 w-full p-2 text-[1em] border-2 border-[#707070] rounded-sm outline-none focus:border-black font-[Poppins] font-semibold tracking-wider" id="country" name="country" data-country="{{user.country}}" required>
                            <option value="" selected disabled>Choose Country</option>
                            {% for code, name in COUNTRY_CHOICES %}
                            <option value="{{ code }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer self-end space-x-3">
                    <button type="button" class="py-2 px-4 cursor-pointer border-none rounded-md bg-[#6c757d] hover:bg-[#5a6268] focus:bg-[#5a6268] text-white" id="close-btn">Close</button>
                    <input type="submit" class="py-2 px-4 cursor-pointer border-none rounded-md bg-[#007bff] hover:bg-[#0069d9] focus:bg-[#0069d9] text-white" value="Save Changes">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- profile page code starts here -->
<div>
    <div class="left bg-[url('https://profile.edx.org/ddb7d64d44c751595981eb1d70715eb5.png')] bg-repeat-x h-48 bg-[#00262b] w-full" 
    style="background-size: auto 85%;">
    </div>
    <svg class="absolute text-[#707070] bg-[#e1dddb] rounded-[50%] top-16 h-48 float-left mt-16 ml-8" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="text-muted" role="img" aria-hidden="true" focusable="false"><path d="M4.103 18.135c.614-2.077 3.916-3.663 7.897-3.663 3.981 0 7.283 1.586 7.897 3.663A9.957 9.957 0 0 0 22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 2.312.785 4.441 2.103 6.135ZM12 24C5.373 24 0 18.627 0 12S5.373 0 12 0s12 5.373 12 12-5.373 12-12 12Zm0-11a4 4 0 1 1 0-8 4 4 0 0 1 0 8Z" fill="currentColor" fill-rule="evenodd"></path></svg>

    <div class="mt-20 mx-10">
        <div class="flex items-center">
            <h1 class="text-3xl font-bold font-[Merriweather Sans]">{{ user.username }}</h1>
            <svg id="edit-profile" class="cursor-pointer" style="width: 20px; margin-left: 6px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z"/></svg>
        </div>
        <h3 class="text-lg text-gray-600" style="margin-bottom: 40px;">Member since {{ user.date_joined|date:"Y" }}</h3>
        <p class="text-sm">Full Name</p>
        <p class="font-semibold text-lg" style="margin-bottom: 40px;">{{ user.first_name }} {{ user.last_name }}</p>
        <p class="text-sm">Location</p>
        <p class="font-semibold text-lg" style="margin-bottom: 40px;">{{ country_name }}</p>
        <p class="text-sm">Email</p>
        <p class="font-semibold text-lg" style="margin-bottom: 40px;">{{ user.email }}</p>
    </div>
</div>

<script>
    // Get the modal element
    var modal = document.getElementById("profile-modal");

    // Get the button that opens the modal
    var edit_btn = document.getElementById("edit-profile");

    // Get the <span> element that closes the modal
    var close = document.getElementById("profile-modal-close");
    var close2 = document.getElementById("close-btn");

    // When the user clicks on the button, open the modal
    edit_btn.onclick = function() {
    modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    close.onclick = function() {
    modal.style.display = "none";
    }
    close2.onclick = function() {
    modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    }

    // Change Password
    document.querySelector('#change-password').addEventListener('click', function() {
        const oldPassword = prompt('Enter old password: ');
        const newPassword = prompt('Enter new password: ');
        const confirmPassword = prompt('Retype new password: ');

        const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

        if (newPassword != confirmPassword) {
            alert("New password don't match!")
        } else {
            fetch('/profile', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
                body: JSON.stringify({
                    old_password: oldPassword,
                    new_password: newPassword,
                    confirm_password: confirmPassword,
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Password changed successfully!');
                    window.location.href = '/login'
                } else {
                    alert('Error: ' + data.error);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    })
</script>

{% endblock %}
