{% extends 'course/layout.html' %}

{% block body %}
<script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
<script>document.addEventListener('DOMContentLoaded', function () { document.querySelector("#country").value = geoplugin_countryCode() })</script>

<div class="flex">
    <img class="hidden lg:block" src="https://cdn.toprankers.net.in/svg/Group.svg" alt="image">

    <form action="{% url 'register' %}" class="flex justify-center items-center min-h-[10vh] flex-col gap-6 px-5 py-10"
        method="post">
        {% csrf_token %}
        <div class="flex w-[100%] space-y-6 md:space-y-0 md:space-x-4 flex-col md:flex-row">
            <div class="relative w-[100%]">
                <input class="login-input" type="text" name="first_name" required>
                <span class="movable-span">First Name</span>
            </div>
            <div class="relative w-[100%]">
                <input class="login-input" type="text" name="last_name" required>
                <span class="movable-span">Last Name</span>
            </div>
        </div>
        <div class="relative w-[100%]">
            <input class="login-input" type="email" name="email" required>
            <span class="movable-span">Email Address</span>
        </div>
        <div class="relative w-[100%]">
            <input class="login-input" type="text" name="username" required>
            <span class="movable-span">Username</span>
            {% if u_message %}
            <p class="text-sm text-red-700">{{ u_message }}</p>
            {% endif %}
        </div>
        <div class="w-[100%]">
            <div class="flex space-y-6 md:space-y-0 md:space-x-4 flex-col md:flex-row">
                <div class="relative w-[100%]">
                    <input class="login-input" type="password" name="password" required>
                    <span class="movable-span">Password</span>
                </div>
                <div class="relative w-[100%]">
                    <input class="login-input" type="password" name="confirmation" required>
                    <span class="movable-span">Confirm Password</span>
                </div>
            </div>
            {% if p_message %}
            <p class="text-sm text-red-700">{{ p_message }}</p>
            {% endif %}
        </div>
        <div class="relative w-[100%]">
            <select class="login-input" id="country" name="country" required>
                <option value="" disabled>Choose Country</option>
                {% for code, name in COUNTRY_CHOICES %}
                <option value="{{ code }}">{{ name }}</option>
                {% endfor %}
            </select>
            <span class="movable-span">Country/Region</span>
        </div>
        <p class="text-sm">By creating an account, you agree to the <a href="#"
                class="font-semibold hover:underline">Terms of Service</a> and you acknowledge that SwiftLearn and each
            Member process your personal data in accordance with the <a href="#"
                class="font-semibold hover:underline">Privacy Policy</a>.</p>
        <div class="button bg">
            <input class="cursor-pointer bg-red-700 text-white font-semibold px-4 py-2 md:px-6 md:py-3 hover:bg-red-800" type="submit" value="Create an account for Free">
            <p class="text-sm just text-center pt-2">Already have an account? <a href="{% url 'login' %}" class="font-semibold hover:underline text-blue-700">Log In</a></p>
        </div>
    </form>
</div>

{% endblock %}